<launch>
    <node pkg = "bhampick" name = "goalcr3" type = "goalcr3.py" output = "screen" launch-prefix="gnome-terminal --command"/>
    <include file = "$(find dobot_moveit)/launch/demo.launch"/>
    <include file = "$(find gpd_ros)/launch/ur5.launch"/>
    <node pkg="rviz" type                           ="rviz" name="rviz1" args="-d $(find panda_moveit_config)/launch/gpdrostest.rviz" output="screen"/>
</launch>