<launch>
    <node pkg = "bhampick" name = "GPDgoal" type = "GPDgoal.py"/>
    <!-- <include file = "$(find panda_moveit_config)/launch/gpddemo.launch"/> -->
    <include file = "$(find dobot_moveit)/launch/demo.launch"/>
    <include file = "$(find gpd_ros)/launch/ur5.launch"/>
    <node pkg = "bhampick" name = "GPDobjtf" type = "GPDobjtf"/>
    <node pkg = "bhampick" name = "GPDgraspservice" type = "GPDgraspservice.py"/>
    <!-- <node pkg = "bhampick" name = "markerpub" type = "markerpub"/> -->
    <!-- <node pkg = "bhampick" name = "obtf" type = "obtf.py" output = "screen" launch-prefix="gnome-terminal command"/> -->
    <!-- <node pkg="rviz" type="rviz" name="rviz1" args="-d $(find panda_moveit_config)/launch/gpdrostest.rviz" output="screen"/> -->
</launch>

 <!-- output = "screen" launch-prefix="gnome-terminal <dash><dash>command" -->